body{
    margin: 0;
    padding: 0;
    background-color: #f1c98e;
}

main, #jumbotron-image, #preparation-time{
    border-radius: 10px;
}

main{
    background-color: #FFFFFF;
    width: 60%;
    margin: 70px auto;
    padding: 50px;
}

#jumbotron-image{
    height:450px;
    background-image: url("omelette.jpg");
    background-repeat: no-repeat;
    background-size: cover;    
}

#preparation-time{
    background-color:#F6E5E9;
    padding: 5px 30px;
}

#preparation-time ul, 
#ingredients ul, 
#recipe-instructions ol
{   
    padding-left: 25px; 
}

#preparation-time li,
#ingredients li, 
#recipe-instructions li
{
    padding-left: 20px; 
    padding-bottom: 5px;
}

#recipe-nutrition table {
    border-collapse: collapse;
    width: 100%;
}

#recipe-nutrition table td {
    border-bottom: 1px solid #dddddd;
    padding: 8px 0px;
}

#recipe-nutrition table tr td:first-child {
    padding-left: 35px;
    width: 40%;
}

