body{
    margin: 0;
    padding: 0;
    background-color: #f1c98e;
}

main, #jumbotron-image, #preparation-time{
    border-radius: 10px;
}

main{
    background-color: #FFFFFF;
    width: 60%;
    margin: 70px auto;
    padding: 50px;
}

#jumbotron-image{
    height:450px;
    background-image: url("omelette.jpg");
    background-repeat: no-repeat;
    background-size: cover;    
}

#preparation-time{
    background-color:#F6E5E9;
    padding: 10px 50px;
}

